<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="Parent">
        <a id="My">My Family</a>

    <div id="My">
        <a id="one">Home</a>
        <a id="one" >About</a>
        <a  id="one">Contact</a>

</div>

    </div>

<div class="myhome">
      <!-- <img src="WA-IMG-20211110-94f898d8.jpg" > -->
    </div>

    

    <div class="img">
        <div id="raj">
        <img id="vishu" height="150px"  src="IMG20240225073147.jpg">
        </div>
        <div id="raj">
        <img id="vishu" height="150px" src="IMG20240225095419.jpg">
        </div>
        <div id="raj" >
       <img id="vishu" height="150px" src="WA-IMG-20211110-94f898d8.jpg">
        </div>
    </div>

    <div id="ram">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam nisi eius, eveniet explicabo repellendus doloremque tenetur pariatur deserunt commodi placeat voluptate perspiciatis excepturi officiis, minima sed. Quae atque laboriosam sit quos pariatur similique veritatis asperiores odit doloribus molestias id, ab iure aut ad nostrum laborum, rerum, accusamus eveniet quisquam? Sint doloremque distinctio et quisquam aliquam ab id dignissimos, harum officia totam blanditiis quibusdam ullam cum ut, corrupti excepturi consectetur fuga, sit commodi neque dolorem velit! Labore neque error voluptates nam nisi vitae quia debitis accusantium ad voluptatem dignissimos pariatur et reiciendis expedita minima nulla adipisci, facilis vero commodi laboriosam. Animi.</p>
    </div>
    
</body>
</html>